
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/copyright
/flash development/AIRKinect Demos/bin
/flash development/AIRKinect Extension/bin
/flash development/AIRKinect Manager/bin
/flash development/AIRKinect Manager Demos/bin
/native development/windows/AIRKinectExtension/Debug
/native development/windows/AIRKinectExtension/ipch
/native development/windows/AIRKinectExtension/KinectExtension/Debug
/native development/windows/AIRKinectExtension/KinectExtension/Release
/native development/windows/AIRKinectExtension/No CLR
/native development/windows/AIRKinectExtension/Release
/native development/windows/AIRKinectExtension/KinectExtension/No CLR
/flash development/AIRKinect Demos/assets/build/build.properties
/flash development/AIRKinect Extension/assets/build/build.properties
/flash development/AIRKinect Manager Demos/assets/build/build.properties